<div>
    <!-- <nav class="navbar navbar-expand-lg hdfc">
        <div class="container-fluid hdfc">
            <img
                src="https://img.icons8.com/external-wanicon-flat-wanicon/64/000000/external-trade-economic-crisis-wanicon-flat-wanicon.png" />
            <div class="collapse navbar-collapse center" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active text zoom"  title="Dashboard">DASHBOARD
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text zoom"  title="Order Matching System">OMS
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text zoom"  title="View Clients Trading History">TRADING
                            HISTORY
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text zoom"  title="View Report">REPORT
                        </a>
                    </li>
                </ul>
                <li class="text newitem" style="font-weight: bolder;">{{currentDate|date:'hh:mm aa dd/MM/yyyy'}}</li>
                <pre>  </pre>
                <li>
                <a routerLink="home">
                    <mat-icon class="icon">person</mat-icon>
                     Bhanu
                </a>
            </li>
                <a class="nav-link newitem active text logout hover_red" href="#"> LOGOUT <i
                        class="fa fa-power-off"></i>
                </a>
            </div>
        </div>
    </nav> -->
</div>

<div class="container-fluid head">
    <h1>List of Clients</h1>
</div>

<div class="container-fluid ntable">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Client ID</th>
                <th scope="col">Client Name</th>
                <th scope="col">Transaction Limit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>DBS001</td>
                <td>MACQUARIE BANK LIMITED</td>
                <td>14000000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>DBS001</td>
                <td>MACQUARIE BANK LIMITED</td>
                <td>14000000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>DBS001</td>
                <td>MACQUARIE BANK LIMITED</td>
                <td>14000000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>DBS001</td>
                <td>MACQUARIE BANK LIMITED</td>
                <td>14000000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>DBS001</td>
                <td>MACQUARIE BANK LIMITED</td>
                <td>14000000</td>
            </tr>
        </tbody>
    </table>
</div>